// Body
$body-bg: #f5f8fa;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// For pricing table
$main-font: 'Roboto',sans-serif;
$light-gray: #f8f8f8;
$main-font-color: #808080;
$main-font-weight: 300;